> Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data=[4,8,15,16,23,42]
pf=pd.Series(data)

In [3]:
print(pf)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

>Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
type(my_series)

pandas.core.series.Series

>Q3. Create a Pandas DataFrame

In [9]:
import pandas as pd
data={'name':['alice','bob','claire'],
     'age':[2,30,37],
     'gender':['f','m','f']}
data_frame=pd.DataFrame(data)
print(dataframe)

     name  age gender
0   alice    2      f
1     bob   30      m
2  claire   37      f

In [10]:
type(data_frame)

pandas.core.frame.DataFrame

>Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

--> The main difference between a DataFrame and a Series is that a DataFrame is a 2-dimensional structure, while a Series is a 1-dimensional structure. A DataFrame contains multiple Series objects arranged in columns, while a Series contains a single column of data.

In [11]:
import pandas as pd

# create a dictionary of data
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'age': [25, 30, 35, 40],
        'country': ['USA', 'Canada', 'France', 'UK']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from a column of the DataFrame
ages = df['age']

print(df)
print('\n')
print(ages)

      name  age country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35  France
3     Dave   40      UK


0    25
1    30
2    35
3    40
Name: age, dtype: int64

>Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

--> head(),tail(),sort_values(),pivot_table(),merge() etc..

In [13]:
import pandas as pd

# create a DataFrame of movies
data = {'title': ['The Godfather', 'The Shawshank Redemption', 'The Dark Knight', 'Forrest Gump'],
        'year': [1972, 1994, 2008, 1994],
        'rating': [9.2, 9.3, 9.0, 8.8]}
df = pd.DataFrame(data)

# sort the DataFrame by year
sorted_df = df.sort_values('year')

print(sorted_df)

                      title  year  rating
0             The Godfather  1972     9.2
1  The Shawshank Redemption  1994     9.3
3              Forrest Gump  1994     8.8
2           The Dark Knight  2008     9.0

In [14]:
df.head(2)

                      title  year  rating
0             The Godfather  1972     9.2
1  The Shawshank Redemption  1994     9.3

In [16]:
df.tail(1)

          title  year  rating
3  Forrest Gump  1994     8.8

>Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- In Pandas, Series and DataFrame are mutable objects, whereas Panel is an immutable object.

- When we modify a Series or a DataFrame, Pandas creates a new object with the modified data, rather than modifying the original object in place. This means that we can change the data in a Series or a DataFrame without affecting the original object, which is a characteristic of mutable objects.

- On the other hand, Panel is an immutable object, which means that its contents cannot be modified after it is created. Instead, we must create a new Panel object with the desired modifications. However, as of version 1.0.0, Panel has been deprecated and replaced by other data structures such as MultiIndex and xarray.

>Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
import pandas as pd

# create three Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['F', 'M', 'M'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# print the DataFrame
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M